{% extends 'main.html' %}

{% block content %}

    <div>
        <a href="{% url 'create-movie' %}">Create movie</a>
        <hr>
    </div>

    {% for movie in movies %}
        <div>
            {% if request.user.is_authenticated %}
                <small><a href="{% url 'update-movie' movie.id %}">Update</a></small>
                <small><a href="{% url 'delete-movie' movie.id %}">Delete</a></small>
            {% endif %}
            <p>{{ movie }}</p>
            <small><a href="{% url 'movie' movie.id %}">Details</a></small>
            <hr>
        </div>
    {% endfor %}


{% endblock content %}